{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id='form-wrapper'>
            <form action="" id="form">
                {% csrf_token %}
                <div id="user-info">
                    <p>Informations Personnelles:</p>
                    <div class="form-field">
                        <input type="text" class="form-control" name="name" placeholder="Nom..." required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="username" placeholder="Prénom..." required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="phone" placeholder="Tel..." required>
                    </div>
                    <div class="form-field">
                        <input type="email" class="form-control" name="email" placeholder="Email..." required>
                    </div>
                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Informations d'Expédition:</p>
                    <div class="form-field">
                        <input type="text" class="form-control" name="address" placeholder="address..." required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="city" placeholder="Ville..." required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="state" placeholder="Pays..." required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="zipcode" placeholder="Zip code..." required>
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn w-100 btn-success btn-block" type="submit" value="Continuer">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Veillez choisir le mode de paiement</small>
            <center class="bg-info my-3"><button  class= "btn btn-block" onclick="checkout()">
                <img src="{% static 'images/LogoCinetPay.png'%}">
            </button></center>
            <div id="paypal-button-container"></div>

           <!-- <button class="btn w-100 btn-success btn-block" id="make-payment"> Effectuer le paiement</button>  -->
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'shop:panier' %}">&#x2190; Retour au panier </a>
        <hr>
        <h3>Recapitulatif de la commande</h3>
        <hr>
        {% for article in articles %}

            <div class="panier-row">
                <div style="flex:2"><img class="row-image" src="{{article.produit.imageUrl}}" class="row-image" alt=""></div>
                <div style="flex:2">{{article.produit.name}}</div>
                <div style="flex:1">${{article.produit.price}}</div>
                <div style="flex:1">{{article.quantite}}</div>
            </div>
          
        {% endfor %}
        <div>
            <h5>Articles: {{commande.get_panier_article}}</h5>
            <h5>Total: ${{commande.get_panier_total}}</h5>
        </div>
        
    </div>
</div>
<!-- <script>
    var total = parseFloat('{{commande.get_panier_total}}').toFixed(2);
    function checkout() {
        CinetPay.setConfig({
            apikey: '1490631366bb3f4a825803.58745261',//   YOUR APIKEY
            site_id: '5877805',//YOUR_SITE_ID
            notify_url: 'http://mondomaine.com/notify/',
            mode: 'TEST'
        });
        CinetPay.getCheckout({
            transaction_id: Math.floor(Math.random() * 100000000).toString(), // YOUR TRANSACTION ID
            amount: total,
            currency: 'XAF',
            channels: 'ALL',
            description: 'MamoudShopping',   
            

        });
        CinetPay.waitResponse(function(data) {
            submitFormData(data.operator_id, data.status);
            if (data.status == "REFUSED") {
                if (alert("Votre paiement a échoué")) {
                    window.location.reload();
                }
            } else if (data.status == "ACCEPTED") {
                if (alert("Votre paiement a été effectué avec succès")) {
                    window.location.reload();
                }
            }
        });
        CinetPay.onError(function(data) {
            console.log(data);
        });
    }
</script> -->

  <!-- Include the PayPal JavaScript SDK -->
  <script src="https://www.paypal.com/sdk/js?client-id=Adr_5hgOhKcUAibzU2dTRMnp__NN72BHfE80HPdOpfOgmmHvOEFYCOqwMJNzKCJF9F5L25CDeY_TbQ48&currency=USD"></script>
  <script>
    // Render the PayPal button into #paypal button - container
    var total = parseFloat('{{commande.get_panier_total}}').toFixed(2);
    paypal.Buttons({
        style: {
            color: 'blue',
            shape: 'rect',
        },
        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            }); 
            
        },

        // Finalise the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function(orderData){
                // Successful capture For demo purposes:
                console.log ('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                submitFormData(transaction.id, transaction.status);
                // Replace the above to  show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                //element.innerHTML = '';
                // element.innerHTML = '<h3> Thank you for your payment ! </h3>';
                // Or go to another URL: actions.redirect('thanks_you.html');
            });
            
        }

    }).render('#paypal-button-container');
  </script>

<script type="text/javascript">
    var produitPhysique = "{{commande.produit_pysique}}";

    if (produitPhysique == "False"){
        document.getElementById('shipping-info').innerHTML = '';
    }

    if ( user != "AnonymousUser"){
        document.getElementById("user-info").innerHTML = '';
    }
    if (produitPhysique == "False" && user != "AnonymousUser"){
        document.getElementById("form-wrapper").innerHTML = '';
        document.getElementById("payment-info").classList.remove('hidden');

    }
    var form = document.getElementById('form');
    form.addEventListener('submit', function (e) {
        e.preventDefault();
        console.log('donnee en cours')
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })
    //document.getElementById('make-payment').addEventListener('click', function(e) {
    //    submitFormData();
        
    //})
    function submitFormData(transaction_id, status) {
        var paymentInfo = {
            'transaction_id': transaction_id,
            'status': status,
            'total' : total
        }
        var total = parseFloat("{{commande.get_panier_total}}");
        var userFormData = {
        'name': null,
        'username': null,
        'phone': null,
        'email': null,
        'total': total,
    }

    var shippingUserInfo = {
        'address': null,
        'city': null,
        'state': null,
        'zipcode': null,
    }

    if (produitPhysique != "False") {
        shippingUserInfo.address = form.address.value;
        shippingUserInfo.city = form.city.value;
        shippingUserInfo.state = form.state.value;
        shippingUserInfo.zipcode = form.zipcode.value;
    }

    if (user == "AnonymousUser") {
        userFormData.name = form.name.value;
        userFormData.username = form.username.value;
        userFormData.phone = form.phone.value;
        userFormData.email = form.email.value;
    }

    var url = '/traitement_commande/';
    fetch(url, {
        method: "POST",
        headers : {
            "Content-Type": "application/json",
            "X-CSRFToken" : csrftoken
        },
        body:JSON.stringify({"form": userFormData, "shipping":shippingUserInfo, 'payment_info':paymentInfo})
    })
    .then((response) => {
        return response.json();
    })
    .then((data) => {
        console.log('data', data);
       alert("paient effectué avec succes")
      

        panier = {};
        document.cookie = "panier=" + JSON.stringify(panier) + ";domain=;path=/";
        window.location.href = "{% url 'shop:shop'%}";
    })
    }
</script> 

{% endblock content %}
